* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
*::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/*from darkest to lightest*/
:root {
  --green1: #b9c691;
  --green2: #ccd5ae;
  --green3: #e9edc9;
  --yellow1: #eedfb9;
  --yellow2: #faedcd;
  --yellow3: #fefae0;
  --brown1: #a97847;
  --brown2: #d4a373;
  --red1: #eab0b0;
  --red2: #edc9c9;
  --purple1: #c3ace0;
  --purple2: #d9c9ed;
  --blue1: #ade0dd;
  --blue2: #c9edeb;
}
