.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  background-color: var(--yellow2);
  padding: 20px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom: 2px solid var(--brown1);
}

.header p {
  color: var(--brown1);
  font-weight: 600;
  margin-right: 55px;
  font-style: italic;
}

.main {
  display: grid;
  grid-template-columns: 0.51fr 1fr 0.53fr;
  gap: 22px;
  padding: 0 30px 30px 30px;
  height: calc(100vh - 62px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container p {
  color: var(--brown1);
  font-size: 15px;
  font-weight: 500;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-40px);
}

.profile p {
  margin-top: 8px;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 40px 15px 40px;

  margin-top: 10px;
  width: 100%;
  height: 40vh;
  overflow-y: auto;
  background-color: var(--yellow3);
  border-radius: 12px;
  border: 3px solid var(--brown2);
}

.tasks .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--brown1);
  margin-bottom: 16px;
}

.tasks .title svg {
  color: var(--brown1);
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.tasks .item {
  margin-bottom: 20px;
}

.tasks .item div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.tasks .item button {
  color: #fff;
  background-color: var(--brown1);
  border-radius: 4px;
  padding: 4px 10px;
  border: none;
  margin-top: 6px;
  cursor: pointer;
}

.tasks .item svg {
  color: var(--brown1);
  font-size: 20px;
  cursor: pointer;
}

.tasks .item input {
  color: var(--brown2);
  background-color: transparent;
  width: 100%;
  font-size: 13px;
  border: none;
  border-bottom: 2px solid var(--brown2);
  margin-right: 10px;
  outline: none;
}

.container .quote {
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
}

.container .divider {
  margin-top: 25px;
  width: 100%;
  height: 2px;
  background-color: var(--brown1);
}

.container .reminders {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border: 3px solid var(--brown2);
  margin-top: 20px;
  padding: 23px;
  border-radius: 55px;
}

.container .reminders .reminder {
  background-color: var(--green3);
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid var(--green2);
}

.container .reminders .reminder div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.container .reminders .reminder div p {
  margin-left: 13px;
  color: var(--green0);
}

.container .reminders .reminder .reminder_text {
  color: var(--green0);
  font-size: 12px;
}

.container .reminders .reminder .reminder_category {
  margin-top: 8px;
  background-color: var(--blue2);
  color: var(--green0);
  font-size: 12px;
  width: fit-content;
  padding: 3px 14px;
  border-radius: 100px;
}

.container .statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  border: 2px solid var(--brown2);
  border-radius: 55px;
  padding: 20px 10px;
}

.container .statistics canvas {
  width: 500px !important;
  height: 240px !important;
}
